@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div>
    <h2>Users</h2>
    @foreach(PhotoBrowser.Models.User u in Data.Users)
    {
        <p>@u.username / @u.email</p>
    }
    <h2>Albums</h2>
    @foreach (PhotoBrowser.Models.Album a in Data.Albums)
    {
        <p>@a.title</p>
    }
    <h2>Photos</h2>
    @foreach (PhotoBrowser.Models.Photo p in Data.Photos)
    {
        <p>@p.title / @p.thumbnailUrl</p>
    }
</div>

